header {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .16);
    background-color: #fff;
}

.navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
}

.navbar {
    padding-right: 65px;
    padding-left: 65px;
}
