header {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .16);
    background-color: #fff;
    margin-bottom: 65px;
}

.navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
}

.navbar {
    padding-right: 65px;
    padding-left: 65px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .16);
    background-color: #000;
}

.navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:active,
.navbar-dark .navbar-brand:focus {
    color: #999;
}
